@font-face {
    font-family: 'tnr';
    src: URL('times-new-roman.ttf') format('truetype');
}

@font-face {
    font-family: 'amazon-ember';
    src: URL('Amazon-Ember-Medium.ttf') format('truetype');
}

html {
    background-color: black;
}

.title {
    display: block;
    text-align: center;
    font-size: calc(1.5vw + 1.5vmin);
    color: white;
    font-family: 'amazon-ember';
}

p {
    font-family: 'tnr';
    font-size: calc(1vmax + 1vmin);
    color: white;
    margin-left: 5vw;
    margin-right: 5vw;
}

a {
    font-family: 'amazon-ember';
    font-size: calc(1.2vmax + 1.2vmin);
    color: rgb(0, 195, 255);
    transition: color 0.2s;
}

a:hover {
    color: rgb(0, 164, 191);
}

a:active {
    color: rgb(0, 124, 191);
}

.header {
    margin-left: 5vw; 
    font-size: calc(1.3vw + 1.3vmin);
    color: white;
    font-family: 'amazon-ember';
}

.large-mg {
    width: 60vw;
    height: 80vh;
}

.sq-mg {
    width: 50vmin;
    height: 50vmin;
    display: block;
    margin: 0 auto;
}

  .rndbtn {
    background-color: rgb(0, 124, 191);
    border: none;
    border-radius: 10vw;
    transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
    box-shadow: 0 calc(0.5vw + 0.5vh) #00b3ff;
    font-family: 'amazon-ember';
  }
  
  .rndbtn:hover {
    cursor: pointer;
    background-color: rgb(0, 120, 191);
    box-shadow: 0 calc(0.4vw + 0.4vh) #00b3ff;
    transform: translateY(calc(0.1vw + 0.1vh));
  }

  .rndbtn:active {
    transform: translateY(calc(0.4vw + 0.4vh));
    background-color: rgb(0, 100, 191);
    box-shadow: 0 calc(0.1vw + 0.1vh) #00b3ff;
  }

  .lg-btn {
    width: 15vw;
    height: 15vh;
    color: white;
    font-size: calc(2vw + 2vh);
  }